/* 禁止用户选择文本和元素 */
* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* 设置全局鼠标样式 */
html {
    cursor: url(../images/alternate.png) 16 16, auto;
}

/* 设置特定元素的鼠标样式 */
a, button, input, #imageUploadBox {
    cursor: url(../images/link.png) 16 16, pointer;
}

/* 设置文本元素的鼠标样式 */
p, span, h2, label, #pasteOrUrlInput {
    cursor: url(../images/text.png) 16 16, text;
}

/* 移除链接的下划线 */
a {
    transition:all 0.3s ease-in-out;
    text-decoration: none;
}

/* 设置输入框占位符的颜色 */
::-webkit-input-placeholder {
    color: #555;
}

/* 隐藏默认的 range 控件样式 */
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: rgb(255 255 255 / 20%);
    outline: none;
    opacity: 0.7;
    transition: all 0.3s  ease-in-out;
    border-radius: 5px;
}

/* 自定义 range 控件滑块的样式 */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #4CAF50;
    border-radius: 50%;
}
input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #4CAF50;
    border-radius: 50%;
}
/* range 控件滑块悬停时的样式 */
input[type="range"]:hover {
    background: rgb(255 255 255 / 40%);
}

/* 隐藏滚动条 */
::-webkit-scrollbar {
    width: 0;
}

/* 定义自定义鼠标指针样式 */
#cursor {
    position: fixed;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 25px;
    opacity: .25;
    z-index: 10086;
    pointer-events: none;
    transition: .2s ease-in-out;
    transition-property: background, opacity, transform;
}

/* 当鼠标指针不活动时的样式 */
#cursor.hidden {
    opacity: 0;
}

/* 当鼠标指针活动时的样式 */
#cursor.active {
    opacity: .5;
    transform: scale(.5);
}
@media (max-width: 768px) {
    #cursor {
        display: none;
    }
}
/* 主体样式 */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 0 0;
    background: url(../images/bg.webp) no-repeat 100% 100% / cover fixed;
    -webkit-tap-highlight-color: transparent;
}

/* 模糊背景效果 */
.blur {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgb(255 255 255 / 20%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(120deg, rgb(255 255 255 / 20%) 0, rgb(170 170 170 / 20%) 100%);
    -webkit-animation: fadeIn 0.5s ease-in-out forwards;
            animation: fadeIn 0.5s ease-in-out forwards;
}

/* 导航栏样式 */
header {
    display: flex;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* 导航链接样式 */
header a.header-link {
    padding: 15px;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* 鼠标悬停效果 */
header a.header-link:hover {
    background: rgb(255 255 255 / 20%);
}

/* 主要内容区域 */
main {
    width: 100%;
    max-width: 540px;
}

/* 上传表单样式 */
.uploadForm {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

/* 删除图片按钮样式 */
.deleteImageButton {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(204, 0, 0, 0.7);
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 5px 5px 1px 5px;
    margin: 7px;
    z-index: 99;
    box-shadow: 0px 0px 9px rgba(204, 0, 0, 0.7);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
}

/* 删除按钮鼠标悬停旋转效果 */
.deleteImageButton img {
    transition: transform .4s ease-in-out;
}
.deleteImageButton:hover img {
    transform: rotate(180deg);
}
/* 图片上传区域样式 */
.imageUploadBox {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

/* 图片上传区域鼠标悬停效果 */
.imageUploadBox:hover {
    border: 2px dashed #777;
}

/* 隐藏的文件输入框 */
#imageInput {
    opacity: 0;
    display: none;
}

/* 图片预览样式 */
.imagePreview {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    z-index: 10;
}

/* 粘贴或URL输入框样式 */
.pasteOrUrlInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    outline: 0;
    border: 1px solid #aaa;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* 参数输入组 */
.parameters {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;
}

/* 参数标签样式 */
.parameters label {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* 进度条容器 */
.progressContainer {
    position: fixed;
    width: 100%;
    background: rgb(255 255 255 / 20%);
    border-radius: 10px;
    overflow: hidden;
    display: none;
    right: 0;
    bottom: 0;
    font-size: 10px;
}

/* 进度条样式 */
.progressBar {
    height: 12px;
    background: linear-gradient(90deg, rgb(244 128 246 / 40%) 0, rgb(115 255 241 / 60%) 50%, rgb(115 255 241 / 80%) 100%);
    text-align: center;
    color: white;
    font-weight: bold;
    transition: width 0.3s ease-in-out;
    line-height: 12px;
    border-radius: 10px;
}

/* URL输出样式 */
.urlOutput {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

/* 输入滚动容器 */
.input-container {
    height: 105px;
    overflow-y: scroll;
    box-sizing: border-box;
    background: url(../images/svg/wheel.svg) no-repeat right;
}

/* 标签按钮容器 */
.tab-buttons {
    display: flex;
    border-radius: 8px;
    margin: 5px 0;
}

/* 单个标签按钮 */
.tab-button {
    flex: 1;
    padding: 7.5px;
    border-radius: 8px;
    background-color: transparent;
    border: none;
    outline: none;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    position: relative;
    z-index: 1;
}

/* 标签按钮中的图片 */
header a img,
.tab-button img {
    transition: transform 0.3s ease;
}

/* 标签按钮鼠标悬停效果 */
header a:hover img,
.tab-button:hover img {
    transform: scale(1.2);
}

/* 标签页内容 */
.tab-content {
    -webkit-animation: fadeIn 0.3s ease-in-out forwards;
            animation: fadeIn 0.3s ease-in-out forwards;
}

/* 标签按钮伪元素 */
.tab-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(208 208 208 / .2);
    border-radius: 8px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
    z-index: -1;
}

/* 激活状态的标签按钮伪元素 */
.tab-button.active::before {
    transform: scaleX(1);
}

/* 默认隐藏的标签页 */
.tab-pane {
    display: none;
}

/* 显示的标签页 */
.tab-pane.active {
    display: block;
}

/* 复制指示器样式 */
.copy-indicator {
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    margin: 5px auto;
    overflow: hidden;
    outline: 0;
    transition: all 0.3s ease-in-out;
    -webkit-appearance: none;
}

/* 图片信息展示样式 */
.imageInfo {
    display: flex;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* 鼠标悬停时的复制按钮和粘贴/URL输入框样式 */
.copy-indicator:hover,
.pasteOrUrlInput:hover {
    border-color: #76c7c0;
}

/* 图片信息块样式 */
.image-info-block {
    flex-basis: 50%;
    text-align: center;
    box-sizing: border-box;
}

/* 页脚样式 */
footer {
    color: #ccc;
    text-align: center;
    font-size: 12px;
}

/* 页脚文本动画 */
footer span {
    margin: 0 5px;
    -webkit-animation: fadeIn 0.5s ease-in-out forwards;
            animation: fadeIn 0.5s ease-in-out forwards;
}

/* ICP备案样式 */
.icp {
    margin-top: 10px;
}

/* ICP备案链接样式 */
.icp a {
    font-weight: 800;
    color: #54a2c2;
    -webkit-animation: fadeIn 0.5s ease-in-out forwards;
            animation: fadeIn 0.5s ease-in-out forwards;
}

/* 链接鼠标悬停颜色变化 */
.icp a:hover {
    color: pink;
}

/* Logo按钮样式 */
.logo-btn {
    margin: 0 12px;
    color: #f45873;
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    outline: 0;
    border: none;
    background: 0 0;
    -webkit-appearance: none;
    -webkit-animation: fadeIn 0.5s ease-in-out forwards;
            animation: fadeIn 0.5s ease-in-out forwards;
}

/* Logo标题样式 */
.logotitle {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    font-size: 14px;
    line-height: 1.5;
    padding: 15px;
    margin: 15px;
    transition: all .5s ease-in-out;
    color: #eee;
    border-radius: 15px;
}

/* 当logo按钮获得焦点时，显示logotitle */
.logo-btn:focus ~ em {
    right: 0;
}

/* 消息弹窗样式 */
.msg {
    position: fixed;
    top: 20px;
    right: 15px;
    padding: 15px;
    border-radius: 8px;
    color: #fff;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    z-index: 9999;
    border: 1px solid rgb(255 255 255 / 20%);
    -webkit-animation: fadeInTop .6s forwards;
            animation: fadeInTop .6s forwards;
}

/* 背景颜色样式 */
.msg-green { background-color: rgba(0, 126, 0, 0.7); }
.msg-red { background-color: rgba(166, 19, 19, 0.7); }

/* 向右侧淡出 */
.msg-right { -webkit-animation: fadeOutRight .8s forwards; animation: fadeOutRight .8s forwards; }

/* 顶部淡入动画 */
@-webkit-keyframes fadeInTop {
    0% { opacity: 0; transform: translateY(-100%); }
    100% { opacity: 1; transform: translateY(0); }
}
@keyframes fadeInTop {
    0% { opacity: 0; transform: translateY(-100%); }
    100% { opacity: 1; transform: translateY(0); }
}
/* 向右淡出动画 */
@-webkit-keyframes fadeOutRight {
    0% { opacity: 1; transform: translateX(0); }
    100% { opacity: 0; transform: translateX(100%); }
}
@keyframes fadeOutRight {
    0% { opacity: 1; transform: translateX(0); }
    100% { opacity: 0; transform: translateX(100%); }
}
/*	淡入动画 */
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
/* 淡出动画 */
@-webkit-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}