::-webkit-input-placeholder {
    color: #222;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #000;
    padding: 0px 15px 0 15px;
    background: url(/static/images/bg.webp) no-repeat 100% 100%;
    background-size: cover;
    background-attachment: fixed;
    -webkit-tap-highlight-color: transparent;
}

.container {
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container h2 {
    margin-top: 0;
    text-align: center;
    color: #000;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.radio-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.radio-group label {
    margin-right: 20px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    display: flex;
    align-items: center;
    position: relative;
}

.radio-group input[type="radio"] {
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
    position: relative;
    outline: none;
}

.radio-group input[type="radio"]::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    background-color: #4CAF50;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease-in-out;
}

.radio-group input[type="radio"]:checked::before {
    transform: translate(-50%, -50%) scale(1);
}

.radio-group input[type="radio"]:checked + span {
    color: #4CAF50;
}

.radio-group span {
    padding: 2px 5px;
}

.form-group input, .form-group select {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    outline: 0;
    border: 1px solid #aaa;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group input[type="submit"] {
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.form-group input[type="submit"]:hover {
    background-color: #4cae4c;
}

.message-box .success {
    color: #4caf50;
    text-align: center;
    margin-bottom: 15px;
}
.message-box .error {
    color: red;
    text-align: center;
    margin-bottom: 15px;
}

div p {
    text-align: center;
    color: #61ff70;
    font-size: 16px;
}

div form .form-group input[type="submit"] {
    margin-top: 10px;
}
a, .message-box{
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
a {
    padding: 10px;
    color: #eee;
    text-decoration: none;
    border-radius: 8px;
}
.message-box {
    max-width: 600px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
.message-box h1 {
    color: #f73835;
    font-size: 24px;
    margin-bottom: 10px;
}
.message-box p {
    color: #e3e3e3;
    font-size: 18px;
    margin-bottom: 20px;
}
/* 消息弹窗样式 */
.msg {
    position: fixed;
    top: 20px;
    right: 15px;
    padding: 15px;
    border-radius: 8px;
    color: #fff;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    z-index: 9999;
    border: 1px solid rgb(255 255 255 / 20%);
    -webkit-animation: fadeInTop .6s forwards;
            animation: fadeInTop .6s forwards;
}

/* 背景颜色样式 */
.msg-green { background-color: rgba(0, 126, 0, 0.7); }
.msg-red { background-color: rgba(166, 19, 19, 0.7); }

/* 向右侧淡出 */
.msg-right { -webkit-animation: fadeOutRight .8s forwards; animation: fadeOutRight .8s forwards; }

/* 顶部淡入动画 */
@-webkit-keyframes fadeInTop {
    0% { opacity: 0; transform: translateY(-100%); }
    100% { opacity: 1; transform: translateY(0); }
}
@keyframes fadeInTop {
    0% { opacity: 0; transform: translateY(-100%); }
    100% { opacity: 1; transform: translateY(0); }
}
/* 向右淡出动画 */
@-webkit-keyframes fadeOutRight {
    0% { opacity: 1; transform: translateX(0); }
    100% { opacity: 0; transform: translateX(100%); }
}
@keyframes fadeOutRight {
    0% { opacity: 1; transform: translateX(0); }
    100% { opacity: 0; transform: translateX(100%); }
}